APP_NAME={{env.Getenv "APP_NAME" "Laravel" }}
APP_ENV={{env.Getenv "APP_ENV" "local" }}
APP_KEY={{env.Getenv "APP_KEY" "base64:WIR5Z8OMV0L0dRlIJUneTA3Hw9WcPtJySHMMvdVC6bQ=" }}
APP_DEBUG={{env.Getenv "APP_DEBUG" "true" }}
APP_URL={{env.Getenv "APP_URL" "http://localhost" }}
APP_PORT={{env.Getenv "APP_PORT" "80" }}

LOG_CHANNEL={{env.Getenv "LOG_CHANNEL" "stack" }}
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST={{env.Getenv "DB_HOST" "mysql" }}
DB_PORT={{env.Getenv "DB_PORT" "3306" }}
DB_DATABASE={{env.Getenv "DB_DATABASE" "database" }}
DB_USERNAME={{env.Getenv "DB_USERNAME" "username" }}
DB_PASSWORD={{env.Getenv "DB_PASSWORD" "password" }}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK={{env.Getenv "FILESYSTEM_DISK" "local" }}
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=sendmail
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID={{env.Getenv "AWS_ACCESS_KEY_ID" "" }}
AWS_SECRET_ACCESS_KEY={{env.Getenv "AWS_SECRET_ACCESS_KEY" "" }}
AWS_DEFAULT_REGION={{env.Getenv "AWS_DEFAULT_REGION" "" }}
AWS_BUCKET={{env.Getenv "AWS_BUCKET" "" }}
AWS_URL={{env.Getenv "AWS_URL" "" }}
AWS_ENDPOINT={{env.Getenv "AWS_ENDPOINT" "" }}
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
